---
layout: default
title: Books
---

<section id="books">
  <h1>Books</h1>

  {% for item in site.data.books %}
    <h2>{{ item[0] }}</h2>

    <ul class="posts">
      {% for book in item[1] %}
        <li class="post">
          {% if book.post %}
            <a href="{{ book.post }}">{{ book.title }}</a>
          {% else %}
            <span>{{ book.title }}</span>
          {% endif %}

          {% if book.note %}
            <small class="minor-note">({{ book.note }})</small>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</section>
