<footer class="grids clearfix">
	<span class="grid-2 copyright">Copyright <a href="/">Gareth Rees</a> 2011 &copy;</span>
	<ul class="grid-3">
		<li><a href="http://twitter.com/_gareth">Twitter</a></li>
		<li><a href="http://github.com/garethrees">GitHub</a></li>
		<li><a href="http://uk.linkedin.com/in/garethhowellrees">LinkedIn</a></li>
		<li><a href="http://quora.com/Gareth-Rees-2">Quora</a></li>
		<li><a href="http://flickr.com/grees">Flickr</a></li>
		<li><a href="http://facebook.com/garethrees">Facebook</a></li>
		<li><a href="http://www.workingwithrails.com/recommendation/new/person/21239-gareth-rees">Recommend me on Working With Rails</a></li>
	</ul>
</footer>