<section id="portfolio" class="grid-4">
	<h1>Things I&rsquo;m Working On</h1>

	<article class="project clearfix">
		<h2><a href="http://www.cardiffrb.com">Cardiffrb</a></h2>
		<a href="http://www.cardiffrb.com"><img src="images/portfolio/cardiffrb-thumb.png" alt="Cardiffrb" title="Cardiffrb" class="thumb"></a>
		<p>A list of Ruby users in Cardiff. Uses <a href="https://github.com/intridea/omniauth">omniauth</a> to sign in with Twitter.</p>
	</article>

	<article class="project clearfix">
		<h2><a href="http://www.maesycoedmotors.co.uk">Maesycoed Motors</a></h2>
		<a href="http://www.maesycoedmotors.co.uk"><img src="images/portfolio/maesycoed-thumb.png" alt="Maesycoed Motors" title="Maesycoed Motors" class="thumb"></a>
		<p>A simple small business website to list location and contact information. Uses <a href="https://github.com/intridea/omniauth">omniauth</a> to sign in to a bespoke CMS with the domain&rsquo;s Google Apps account.</p>
	</article>

	<article class="project clearfix">
		<h2><a href="http://haveringfabians.org.uk">Havering Fabian Society</a></h2>
		<img src="images/portfolio/fabians-thumb.png" alt="Havering Fabian Society" title="Havering Fabian Society" class="thumb">
		<p>A website focused on increasing event turn-out with a custom-made CMS to make the process as easy as possible.</p>
	</article>

	<article class="project clearfix">
		<h2><a href="http://cardiffstudents.com">Cardiffstudents</a></h2>
		<a href="http://cardiffstudents.com"><img src="images/portfolio/cardiffstudents-thumb.png" alt="cardiffstudents.com" title="cardiffstudents.com" class="thumb"></a>
		<p>An information portal for students that balances quick retrieval with regularly updated content.</p>
	</article>

	<article class="project clearfix">
		<h2><a href="http://www.vanillacss.com">Vanilla CSS</a></h2>
		<a href="http://www.vanillacss.com"><img src="images/portfolio/vanilla-thumb.png" alt="Vanilla CSS" title="Vanilla CSS" class="thumb"></a>
		<p>A stylesheet and html package that targets only html tags to get an app looking presentable without worrying about classes and id&rsquo;s.</p>
	</article>

	<article class="project clearfix">
		<h2>In-House Advert Manager</h2>
		<img src="images/portfolio/advertising-thumb.png" alt="In-house Advert Manager" title="In-house Advert Manager" class="thumb">
		<p>A hand-made advert management system to replace the overly-complicated open source solution currently in place.</p>
	</article>

</section>