<aside id="sidebar" class="grid-2">

	<section id="blog">
		<h2>Articles</h2>
		<ul>
			<li><a href="#">A blog title</a></li>
			<li><a href="#">A blog title</a></li>
			<li><a href="#">A blog title</a></li>
			<li><a href="#">A blog title</a></li>
		</ul>
	</section>

	<section id="contact">
		<h3>Contact Me</h3>
		<ul>
			<li><a href="http://twitter.com/_gareth">Twitter</a></li>
			<li><a href="http://github.com/garethrees">GitHub</a></li>
			<li><a href="http://uk.linkedin.com/in/garethhowellrees">LinkedIn</a></li>
			<li><a href="http://quora.com/Gareth-Rees-2">Quora</a></li>
			<li><a href="http://flickr.com/grees">Flickr</a></li>
			<li><a href="http://facebook.com/garethrees">Facebook</a></li>
			<li><a href="http://www.workingwithrails.com/recommendation/new/person/21239-gareth-rees">Recommend me on Working With Rails</a></li>
		</ul>

		<div id="hcard-Gareth-Rees" class="vcard">
		 <a rel="me" class="url fn" href="http://garethrees.co.uk">Gareth Rees</a>
		 <div class="adr">
		  <span class="locality">Cardiff</span>, 
		  <span class="postal-code">CF243HF</span>
		  <span class="country-name">Wales</span>
		</div>
	</section>

</aside>