.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}




html {
  background: #F2F2F2;
  color: #132C54;
  font-family: "Open Sans", Calibri, Arial, sans-serif;
}

h1,
h2,
h3 {
  color: #D31F22;
}

h4,
h5,
h6 {
  color: #D31F22;
}

a {
  color: #375FA4;
  text-decoration: none;
}

a:visited {
  color: #375FA4;
}

a:hover,
a:active,
a:focus {
  color: #F2F2F2;
  background: #D31F22;
}

.wrap {
  margin: 0 auto;
  max-width: 600px;
}

/* ==========================================================================
 * Banner
 * ==========================================================================*/

#banner {
  margin: 2em 0;
}

#banner .title {
  float: left;
  margin: 0;
  max-width: 250px;
}

#banner .main-nav {
  float: right;
  margin: 0;
  max-width: 350px;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  display: block;
  padding: 0.8em 1em;
}

/* ==========================================================================
 * Blog
 * ==========================================================================*/

#posts {
  line-height: 1.3;
  list-style: none;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 2em;
  padding: 0;
}

#posts .post {
  margin-bottom: 0.8em;
}

#posts .posted-on {  
  color: #B3BEC0;
  display: block;
  float: left;
  font-family: monospace;
  font-size: 0.8em;
  font-weight: normal;
  margin-left: -200px;
  text-align: right;
}

/* ==========================================================================
 * Blog Post
 * ==========================================================================*/

.post {
  margin-bottom: 2em;
}

.post p a {
  text-decoration: underline;
}

.post p a:hover,
.post p a:active,
.post p a:focus {
  text-decoration: none;
}

.post blockquote {
  border-left: 4px solid #375FA4;
  color: #132C54;
  font-family: "Droid Serif", Georgia, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding-left: 1.8em;
}

.post img {
  max-width: 100%;
}

.post figure img {
  border: 4px solid #101123;
}


/* ==========================================================================
 * Footer
 * ==========================================================================*/

#footer {
  border-top: 6px solid #AABAD7;
  margin-bottom: 4em;
}

#network {
  font-size: 0.85em;
  list-style: none;
  padding: 0;
}

#network li {
  margin-bottom: 0.2em;
}

#copyright {
  color: #B3BEC0;
  font-family: monospace;
}


