.tumblr_post {
	border-bottom:1px dotted #ddd;
	margin-bottom:1em;
}

.tumblr_title {
	color:#9C3;
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:0.25em;
	text-transform:uppercase;
}

.tumblr_body p {
	margin-bottom:1em;
	max-width:620px;
}

.tumblr_quote {
	background:#fafafa;
	font-family:"PT Serif", Georgia, Serif;
	font-size:1.5em;
	text-shadow:0 1px 0 #fff;
}

.tumblr_open_quote,
.tumblr_close_quote {
	color:#9C3;
	font-family:Georgia, Serif;
	font-size:3em;
	line-height:1;
	position:relative;
	top:0.5em;
}

.tumblr_open_quote { margin-right:0.25em; }
.tumblr_close_quote { margin-left:0.25em; }