<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }} / Gareth Rees: Ruby on Rails and Front End Web Developer from Cardiff, Wales UK</title>
	<link rel="stylesheet" href="/stylesheets/reset.css" />
	<link rel="stylesheet" href="/stylesheets/vanilla.css" />
	<link rel="stylesheet" href="/stylesheets/application.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
	
</head>

<body>

	<header class="clearfix">
		<h1 class="title">Gareth Rees</h1>
		<nav>
			<ul>
				<li><a href="blog.html">Blog</a></li>
			</ul>
		</nav>
	</header>
	<div class="clear"></div>

	{{ content }}

	<section id="contact">
		<h1>Contact Me</h1>
		<ul>
			<li><a href="http://twitter.com/_gareth">Twitter</a></li>
			<li><a href="http://github.com/garethrees">GitHub</a></li>
			<li><a href="http://uk.linkedin.com/in/garethhowellrees">LinkedIn</a></li>
			<li><a href="http://quora.com/Gareth-Rees-2">Quora</a></li>
			<li><a href="http://flickr.com/grees">Flickr</a></li>
			<li><a href="http://facebook.com/garethrees">Facebook</a></li>
			<li><a href="http://www.workingwithrails.com/recommendation/new/person/21239-gareth-rees">Recommend me on Working With Rails</a></li>
		</ul>
	</section>

	<div id="hcard-Gareth-Rees" class="vcard">
	 <a rel="me" class="url fn" href="http://garethrees.co.uk">Gareth Rees</a>
	 <div class="adr">
	  <span class="locality">Cardiff</span>, 
	  <span class="postal-code">CF243HF</span>
	  <span class="country-name">Wales</span>
	</div>

	<footer>
		<span class="copyright">Copyright <a href="#">Gareth Rees</a> 2011 &copy;</span>
	</footer>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-19698180-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</body>
</html>