<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ page.title }} | Gareth Rees: Ruby Programmer and Product Manager from Cardiff, Wales UK</title>
  <meta name="description" content="Gareth Rees: Ruby Programmer and Product Manager from Cardiff, Wales UK" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/syntax.css" />
  {% feed_meta %}
</head>

<body>
  <div class="wrap">
    {% include header.html %}

    <div id="main" class="centred" role="main">
      {{ content }}
    </div>

    {% include footer.html %}

    {% include analytics.html %}
  </div>
</body>
</html>
